.menuBox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  padding-left: 16px;
  margin-right: 20px;
  vertical-align: top;
  width: 200px;
  height: 332px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 6px 0px rgba(43, 146, 210, 0.1);
  border-radius: 6px;
  .eachMenu {
    .selectedItem {
      color: #4165eb !important;
    }
    &:nth-child(1) {
      .title {
        span {
          border-bottom: none;
        }
      }
    }
    .title {
      a {
        height: 46px;
        line-height: 46px;
        font-size: 16px;
        color: #31394d;
        i {
          color: #aaadb4;
          margin-right: 10px;
        }
        span {
          display: inline-block;
          width: 117px;
          border-bottom: 1px solid #eee;
          color: #31394d;
        }
        &.selectedItem {
          i {
            color: rgba(65, 101, 235, 0.8);
          }
          span {
            color: #4165eb !important;
          }
        }
      }
    }
    .subList {
      margin-bottom: 0;
      list-style: none;
      li {
        list-style: none;
        height: 38px;
        line-height: 38px;
        font-size: 14px;
        color: #545a69;
        a {
          padding-left: 42px;
          font-size: 14px;
          color: rgba(84, 90, 105, 1);
        }
      }
    }
  }
}
:global {
  ::selection {
    color: #545a69;
  }
}
