.robotBox {
  padding: 20px;
  width: 980px;
  background: rgba(255, 255, 255, 1);
  border-radius: 6px;
  .bread {
    margin-bottom: 28px;
    font-size: 14px;
    color: rgba(170, 173, 180, 1);
    a {
      color: #aaadb4;
    }
    .arrowS {
      display: inline-block;
      padding: 0 4px;
      font-size: 12px;
      color: #aaadb4;
    }
    .cur {
      color: #364e78;
    }
  }
}
