.screenContent {
  padding: 20px;
  width: 980px;
  background: rgba(255, 255, 255, 1);
  border-radius: 6px;

  .bread {
    margin-bottom: 28px;
    font-size: 14px;
    color: rgba(170, 173, 180, 1);
    a {
      color: #aaadb4;
    }
    .arrowS {
      display: inline-block;
      padding: 0 4px;
      font-size: 12px;
      color: #aaadb4;
    }
    .cur {
      color: #364e78;
    }
  }
  .detailBlock {
    display: table;
    .left {
      display: table-cell;
      padding-right: 40px;
      vertical-align: top;
      .bigIcon {
        position: relative;
        width: 128px;
        height: 128px;
        span {
          position: absolute;
          top: -8px;
          width: 52px;
          height: 17px;
          line-height: 17px;
          right: -15px;
          background: #f8473d;
          border-radius: 9px;
          color: #fff;
          text-align: center;
        }
        img {
          width: 128px;
          height: 128px;
        }
      }
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0;
        width: max-content;
        padding: 0 12px;
        height: 28px;
        background: rgba(0, 126, 240, 1);
        border-radius: 4px;
        font-size: 12px;
        color: rgba(255, 255, 255, 1);
      }
    }
    .right {
      display: table-cell;
      .title {
        height: 25px;
        line-height: 25px;
        font-size: 24px;
        font-weight: 600;
        color: rgba(84, 90, 105, 1);
      }

      .details {
        margin-top: 12px;
        width: 772px;
        font-size: 14px;
        color: rgba(84, 90, 105, 1);
      }
    }
  }
}

:global {
  .ant-btn-primary-disabled,
  .ant-btn-primary.disabled,
  .ant-btn-primary[disabled],
  .ant-btn-primary-disabled:hover,
  .ant-btn-primary.disabled:hover,
  .ant-btn-primary[disabled]:hover,
  .ant-btn-primary-disabled:focus,
  .ant-btn-primary.disabled:focus,
  .ant-btn-primary[disabled]:focus,
  .ant-btn-primary-disabled:active,
  .ant-btn-primary.disabled:active,
  .ant-btn-primary[disabled]:active,
  .ant-btn-primary-disabled.active,
  .ant-btn-primary.disabled.active,
  .ant-btn-primary[disabled].active,
  .ant-btn-disabled,
  .ant-btn.disabled,
  .ant-btn[disabled],
  .ant-btn-disabled:hover,
  .ant-btn.disabled:hover,
  .ant-btn[disabled]:hover,
  .ant-btn-disabled:focus,
  .ant-btn.disabled:focus,
  .ant-btn[disabled]:focus,
  .ant-btn-disabled:active,
  .ant-btn.disabled:active,
  .ant-btn[disabled]:active,
  .ant-btn-disabled.active,
  .ant-btn.disabled.active,
  .ant-btn[disabled].active {
    background-color: rgba(209, 233, 255, 1) !important;
    color: #fff !important;
    border-color: rgba(209, 233, 255, 1) !important;
  }
  ::selection {
    background: none;
  }
}
