.serviceContent {
  padding: 20px;
  width: 980px;
  height: 775px;
  background: rgba(255, 255, 255, 1);
  border-radius: 6px;
  .bread {
    margin-bottom: 28px;
    font-size: 14px;
    color: rgba(170, 173, 180, 1);
    a {
      color: #aaadb4;
    }
    .arrowS {
      display: inline-block;
      padding: 0 4px;
      font-size: 12px;
      color: #aaadb4;
    }
    .cur {
      color: #364e78;
    }
  }
  .detailBlock {
    display: flex;
    .left {
      margin-right: 12px;
      width: 116px;
      height: 116px;
      img {
        width: 116px;
        height: 116px;
      }
    }
    .right {
      .title {
        height: 25px;
        line-height: 25px;
        font-size: 22px;
        color: rgba(49, 57, 77, 1);
      }
      .tagBtn {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        .tags {
          margin: 5px 0;
          span {
            display: inline-block;
            padding: 1px 9px;
            margin-right: 3px;
            height: 20px;
            background: rgba(235, 235, 235, 0.6);
            border-radius: 10px;
            font-size: 12px;
            color: rgba(54, 144, 255, 1);
            text-align: center;
          }
        }
        a {
          text-align: center;
          width: 90px;
          height: 28px;
          line-height: 28px;
          background: rgba(0, 126, 240, 1);
          border-radius: 4px;
          font-size: 14px;
          color: rgba(255, 255, 255, 1);
        }
      }

      .details {
        width: 797px;
        height: 40px;
        font-size: 14px;
        color: rgba(84, 90, 105, 1);
        line-height: 20px;
      }
    }
  }
}
