.blContent {
  display: table-cell;

  width: 980px;
  .bannerBox {
    position: relative;
    margin-bottom: 20px;
    width: 980px;
    height: 290px;
    border-radius: 6px;
    img {
      width: 980px;
      height: 290px;
    }
    .btn {
      position: absolute;
      left: 55px;
      bottom: 32px;
      width: 120px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      background: linear-gradient(
        90deg,
        rgba(63, 156, 251, 1) 0%,
        rgba(63, 169, 255, 1) 100%
      );
      box-shadow: 0px 4px 4px 0px rgba(63, 154, 250, 0.44);
      border-radius: 18px;
      font-size: 16px;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
    }
  }
}
