.headerBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  padding: 13px 16px;
  min-width: 1200px;
  height: 60px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(9, 9, 9, 0.04);
  .left {
    span {
      display: inline-block;
      line-height: 34px;
      font-size: 18px;
      font-weight: 600;
      color: rgba(53, 73, 93, 1);
    }
    img {
      display: inline-block;
      margin-right: 12px;
      vertical-align: bottom;
      width: 34px;
      height: 34px;
    }
  }
  .right {
    line-height: 34px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(155, 155, 155, 1);
  }
}
