.box {
  display: flex;
  margin-top: 64px;
  width: 446px;
  &:nth-child(odd) {
    margin-right: 40px;
    padding-left: 8px;
  }
  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }
  .left {
    position: relative;
    margin-right: 12px;
    width: 84px;
    height: 84px;
    img {
      width: 84px;
      height: 84px;
    }
    .ydq {
      position: absolute;
      right: -2px;
      top: -8px;
      width: 52px;
      height: 17px;
      line-height: 17px;
      text-align: center;
      color: #fff;
      background: rgba(248, 71, 61, 1);
      border-radius: 9px;
    }
  }
  .right {
    .title {
      height: 25px;
      font-size: 18px;
      color: rgba(49, 57, 77, 1);
    }
    .desc {
      margin: 4px 0;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      color: rgba(144, 145, 152, 1);
    }
    .btn {
      display: inline-block;
      padding: 5px 12px;
      background: rgba(0, 126, 240, 1);
      border-radius: 3px;
      color: #fff;
      font-size: 12px;
    }
  }
}
