.box {
  display: flex;
  margin-top: 64px;
  &:nth-child(odd) {
    margin-right: 40px;
    padding-left: 8px;
  }
  &:nth-child(1),
  &:nth-child(2) {
    margin-top: 0;
  }

  .left {
    display: block;
    margin-right: 12px;
    width: 84px;
    height: 84px;
    box-shadow: 0px 10px 12px -8px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    img {
      width: 84px;
      height: 84px;
    }
  }
  .right {
    display: block;
    padding-top: 4px;
    .title {
      display: block;
      height: 25px;
      line-height: 25px;
      font-size: 18px;
      color: rgba(49, 57, 77, 1);
    }
    .tags {
      display: block;
      margin: 5px 0;
      span {
        display: inline-block;
        margin-right: 3px;
        padding: 0 9px;
        height: 20px;
        background: rgba(235, 235, 235, 0.6);
        border-radius: 10px;
        font-size: 12px;
        color: rgba(54, 144, 255, 1);
        text-align: center;
      }
    }
    .details {
      display: block;
      line-height: 20px;
      width: 322px;
      height: 20px;
      font-size: 14px;
      color: rgba(144, 145, 152, 1);
    }
  }
}
