.bottomTriangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
}

.switchBox {
  margin-top: -116px;
  .desc {
    margin-left: 170px;
    margin-bottom: 38px;
    .smallTitle {
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
      color: rgba(0, 126, 240, 1);
    }
    p {
      margin-top: 12px;
      width: 773px;
      height: 40px;
      font-size: 14px;
      color: rgba(84, 90, 105, 1);
    }
  }

  .imgsBox {
    width: 940px;
    height: 620px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid rgba(221, 221, 221, 1);
    .bigBox {
      position: relative;
      padding: 35px 50px;
      a {
        position: absolute;
        top: 50%;
        width: 50px;
        height: 26px;
        text-align: center;
        color: rgba(153, 153, 153, 1);
        &.disabled {
          color: rgba(221, 221, 221, 1);
          pointer-events: none;
          cursor: default;
        }
      }
      .goLeftBtn {
        left: 0;
      }
      .goRightBtn {
        right: 0;
      }
      .bigPic {
        position: relative;
        display: flex;
        img {
          display: none;
          width: 840px;
          height: 459px;

          &.showBig {
            display: inline-block;
          }
        }
      }
    }
    .smallBox {
      display: flex;
      justify-content: center;
      height: 90px;
      border-top: 1px solid rgba(221, 221, 221, 1);
      a {
        position: relative;
        display: inline-block;
        padding: 12px;
        width: 144px;
        height: 90px;
        border: 1px solid rgba(221, 221, 221, 1);
        &:nth-child(1) {
          a {
            border-left: 1px solid rgba(221, 221, 221, 1);
          }
        }
        .pointer {
          position: absolute;
          top: -2px;
          left: 45%;
          z-index: 99;
          opacity: 0;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid rgb(221, 221, 221);
          span {
            display: block;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #fff;
            position: absolute;
            left: -8px;
            top: -10px;
          }
        }
        img {
          width: 120px;
          height: 66px;
        }
        &.enabled {
          background: rgba(250, 250, 250, 1);
          box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2);
          .pointer {
            opacity: 1;
          }
        }
      }
    }
  }
}
