.transBox {
  position: relative;
  margin-top: 40px;
  width: 925px;
  height: 260px;
  .cpjs {
    margin-bottom: 20px;
    font-size: 18px;
    color: #35495d;
  }
  .descBox {
    margin-bottom: 40px;
    p {
      margin: 0;
      width: 925px;
      height: 40px;
      font-size: 14px;
      color: rgba(84, 90, 105, 1);
    }
  }
  .bigBox {
    position: relative;
    height: 100%;
    a {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 26px;
      text-align: center;
      color: rgba(153, 153, 153, 1);
    }
    .goLeftBtn {
      left: 0;
    }
    .goRightBtn {
      right: 0;
    }
    .bigPic {
      position: relative;
      overflow: hidden;
      left: 63px;
      top: 0;
      width: 796px;
      height: 100%;
      .img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: left 1s, margin-top 1s, width 250ms, height 250ms,
          line-height 250ms, background-color 1s;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
        &.prevImg {
          left: 190px;
          z-index: 0;
          width: 380px;
          height: 215px;
        }

        &.currentImg {
          left: 50%;
          z-index: 1;
          width: 460px;
          height: 260px;
        }

        &.nextImg {
          left: 606px;
          z-index: 0;
          width: 380px;
          height: 215px;
        }
      }
    }
  }
}
