<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="/assets/font/iconfont.css">
</head>

<body>
    <div id="root" style="height: 100%">
    </div>
</body>

</html>