.listBlock {
  padding: 16px 20px;
  width: 980px;
  min-height: 365px;
  background: rgba(255, 255, 255, 1);
  border-radius: 6px;
  .search {
    display: flex;
    justify-content: space-between;
    span {
      &:nth-child(1) {
        font-size: 22px;
        color: rgba(53, 73, 93, 1);
      }
    }
    .inputS {
      width: 240px;
      height: 32px;
      line-height: 32px;
      background: rgba(255, 255, 255, 1);
      border-radius: 3px;
      border: 1px solid rgba(238, 238, 238, 1);
      input {
        vertical-align: top;
        width: 238px;
        line-height: 27px;
        height: 27px;
        font-size: 12px;
        background: none;
        border: none;
      }
      span {
        left: 8px;
        width: 22px;
        height: 32px;
        line-height: 32px;
        font-size: 16px;
        color: rgba(170, 173, 180, 1);
      }
    }
  }
  .listBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 932px;
  }
}
:global {
  .ant-input-suffix {
    display: none;
  }
}
