* {
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 12px;
  font-family: 'PingFang SC, Microsoft YaHei'
}
ul, li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #000;
}

.logo {
  height: 32px;
  background: rgba(243, 7, 7, 0.2);
  margin: 16px;
}