//Colors
@primary-color: fade(#f00, 65%);
// Background color for `<body>`
@body-background: #fff;
// Base background color for most components
@component-background: @body-background;
// Border color
@border-color-base: #dfdfdf; // base border outline a component
@border-color-split: #dfdfdf; // split border inside a component
//Base
@heading-color: #fff;
@text-color: fade(#f00, 65%);
@text-color-secondary: fade(#f00, 43%);
// @component-background   : transparent;
@disabled-color: hsla(0, 0%, 65%, 0.65);
@layout-sider-background-light: #fff;
@layout-sider-background: #fff;
@table-header-bg: fade(#f00, 65%);
@table-header-color: #fff;
